<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    testdox="true"
    cacheDirectory=".phpunit.cache"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    failOnRisky="false"
    failOnWarning="false">
    <testsuites>
        <testsuite name="DINOCO Unit">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>tests/</directory>
        </include>
    </source>
</phpunit>
