openapi: 3.1.0
info:
  title: DINOCO REST API
  description: |
    Complete REST API specification for the DINOCO System — a WordPress-based
    motorcycle warranty management platform serving B2C members and B2B distributors.

    ## Coverage
    - **B2B** (`/b2b/v1/`) — distributor portal, LIFF e-catalog, Backorder System (V.1.6), Flash shipping
    - **B2F** (`/b2f/v1/`) — Maker (factory) purchasing, multi-currency PO lifecycle, credit system
    - **LIFF AI** (`/liff-ai/v1/`) — dealer lead/claim management inside LINE LIFF
    - **Inventory** (`/dinoco-stock/v1/`) — multi-warehouse, dip-stock, valuation, forecasting
    - **MCP Bridge** (`/dinoco-mcp/v1/`) — OpenClaw agent integration (32 endpoints, full coverage)
    - **GDPR** (`/dinoco-gdpr/v1/`) — data subject request scaffold (if activated)

    ## Known Gaps
    - Only main production endpoints covered — edge cases and admin-only endpoints partial
    - B2F Migration Audit (`/dinoco-b2f-audit/v1/`) not documented (admin-only)
    - Error response shapes reflect WP_Error convention (data.status + code + message)

    ## Auth Convention
    | Scheme | Where | Namespaces |
    |---|---|---|
    | `wpNonce` (X-WP-Nonce header) | WP admin REST | all admin writes |
    | `liffAiBearer` (Authorization: Bearer JWT) | X-LIFF-AI-Token also accepted | `/liff-ai/v1/` |
    | `b2fAdminToken` (X-B2F-Token header) | HMAC-signed session | `/b2f/v1/` admin LIFF |
    | `b2bSessionToken` (body.session_token) | HMAC + rate-limit | `/b2b/v1/` customer LIFF |
    | `basicAuth` | RPi print daemon | `/b2b/v1/print-*` |

    ## Timezone
    All timestamps are `Asia/Bangkok`. ISO-8601 format `YYYY-MM-DDTHH:MM:SS+07:00`.
  version: "1.1.0-2026-05-18"
  # CHANGELOG since 1.0.0-2026-04-17:
  #   - NEW namespace /dinoco-leads/v1/ (LT-3 lead-gen pivot 2026-05-18)
  #     + POST /dealer-coord (customer → openclawminicrm handoff)
  #   - NEW namespace /dinoco/v1/idempotency (Helper V.1.1, Round 28 Health Monitor)
  #     + GET / + POST /cleanup (admin viewer + manual cleanup)
  #   - NEW namespace /dinoco/v1/flag-audit (Audit Log V.1.0, 2026-04-29)
  #     + GET / + GET /{id} + POST /retention/run + GET /export
  #   - EXTENDED /dinoco-sn/v1/ from 32 → 66 routes (marketplace pricing,
  #     bulk admin wizard, refer-a-friend, geo heatmap, LTV cohorts,
  #     extension transactions admin)
  #   - EXTENDED /dinoco-sn-golive/v1/ +3 routes (diagnose-flag, clear-caches,
  #     force-reschedule-crons)
  #   - EXTENDED /b2b/v1/ +14 routes (Backorder V.4.0 all_backorder state,
  #     Claim Lifecycle V.2.3 charge-create + slip-bank match)
  #   - EXTENDED /dinoco-b2f-audit/v1/ +9 routes (Phase 4 migration controls,
  #     Option F hybrid admin)
  #   - All POST endpoints listed should now mention Idempotency-Key
  #     header support (139 endpoints wired as of Round 50, 2026-04-30)
  #   - Auth: New HMAC scheme for dinoco-leads → openclawminicrm namespace
  #
  # Coverage estimate: ~75% of 333 total REST routes (per Round 30 census).
  # Gaps: B2F Migration Audit advanced endpoints, RPi proxy routes (intentional —
  #   internal-only), Flash Go-Live Tool admin routes, Brand Voice admin routes.
  # Recommendation: future spec generated from PHP introspection
  #   (auto-walk register_rest_route calls) rather than manual maintenance.
  contact:
    name: DINOCO Engineering
    url: https://github.com/Vrprammz/DINOCO-SYSTEM-Front-End---Back-End
  license:
    name: Proprietary
    identifier: Proprietary

servers:
  - url: https://dinoco.in.th/wp-json
    description: Production WordPress REST root
  - url: https://staging.dinoco.in.th/wp-json
    description: Staging

tags:
  - name: B2B-Orders
    description: B2B distributor order lifecycle (place, confirm, cancel, track)
  - name: B2B-Backorder
    description: Backorder System V.1.6 (admin split review + opaque accept)
  - name: B2B-Flash
    description: Flash Express shipping integration
  - name: B2B-Print
    description: RPi print daemon endpoints (Basic Auth)
  - name: B2F-Makers
    description: Factory (Maker) CRUD + product mapping
  - name: B2F-PO
    description: Purchase Order lifecycle (12-state FSM)
  - name: B2F-Receive
    description: Goods receipt, payment recording, credit ledger
  - name: LIFF-AI
    description: Dealer/admin lead + claim management inside LINE
  - name: Inventory
    description: Multi-warehouse stock, dip stock, valuation, forecast
  - name: MCP
    description: MCP Bridge for OpenClaw agent (32 endpoints, full coverage)
  - name: GDPR
    description: Data Subject Access Request scaffold + admin review (Phase 7)
  - name: Leads
    description: Lead-gen flow via openclawminicrm (LT-3 pivot 2026-05-18 — replaces e-commerce checkout)
  - name: Idempotency
    description: Idempotency-Key helper (Round 28 — 139 endpoints integrated as of Round 50)
  - name: FlagAudit
    description: Feature flag toggle audit trail (V.1.0, 2026-04-29)
  - name: SN-Marketplace
    description: SN Extension marketplace + pricing + transactions (Phase 4 W12-W15)
  - name: SN-Admin
    description: |
      Production S/N Management — admin-only batch CRUD, receive, search,
      lookup, audit, void/swap/recall/reissue, LTV, fraud queue, geo, stolen.
      Phase 0-3 W11 + Phase 4 W12-13 of v2.13 plan.
  - name: SN-Public
    description: |
      Public S/N API for partners (insurance / dealer / police) — token-gated
      with HMAC + rate limit + 90-day audit log retention. PII-stripped.

security:
  - wpNonce: []
  - liffAiBearer: []
  - b2fAdminToken: []
  - snApiKey: []  # Phase 4 W12 F#15 — public partner namespace

paths:
  #
  # B2B — Orders
  #
  /b2b/v1/catalog:
    get:
      tags: [B2B-Orders]
      summary: Get product catalog for distributor LIFF
      description: Returns products filtered by distributor tier (discount auto-applied). Requires session token.
      security:
        - b2bSessionToken: []
      parameters:
        - name: session_token
          in: query
          required: true
          schema: { type: string }
        - name: q
          in: query
          description: Search SKU or product name
          schema: { type: string }
        - name: category
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Catalog list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/Product" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /b2b/v1/place-order:
    post:
      tags: [B2B-Orders]
      summary: Create draft order (customer LIFF)
      description: |
        Creates `b2b_order` CPT in `draft` status. If distributor has
        `b2b_flag_bo_system=true` (V.1.6), fires `b2b_place_order_post_process`
        action for opaque accept routing. Rate-limited 10/hr + 50/day per distributor.
      security:
        - b2bSessionToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PlaceOrderRequest" }
      responses:
        "200":
          description: Order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  order_id: { type: integer }
                  total: { type: number }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /b2b/v1/confirm-order:
    post:
      tags: [B2B-Orders]
      summary: Customer confirms order (postback from LINE bot)
      description: |
        Transitions draft → awaiting_confirm (or pending_stock_review if BO flag ON).
        Performs stock gate check + reserves inventory. V.33.5 hierarchy-aware.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id]
              properties:
                order_id: { type: integer }
      responses:
        "200":
          description: Order confirmed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  status: { type: string, enum: [awaiting_confirm, pending_stock_review, cancelled] }
        "400": { $ref: "#/components/responses/BadRequest" }

  /b2b/v1/cancel-request:
    post:
      tags: [B2B-Orders]
      summary: Customer cancel request
      description: |
        V.39.2 routes through FSM. First 5 min = unlimited (legitimate UX),
        after grace = 2/hr + 10/day. Logs attempts for enumeration scan.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id, reason]
              properties:
                order_id: { type: integer }
                reason: { type: string }
      responses:
        "200": { description: Cancel request submitted }
        "429": { $ref: "#/components/responses/RateLimited" }

  /b2b/v1/daily-summary:
    get:
      tags: [B2B-Orders]
      summary: Daily summary for admin
      description: Aggregated stats for orders placed today (count, revenue, debt delta).
      parameters:
        - name: date
          in: query
          schema: { type: string, format: date }
      responses:
        "200":
          description: Daily aggregated stats
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DailySummary" }

  /b2b/v1/update-status:
    post:
      tags: [B2B-Orders]
      summary: Admin change order status (FSM-validated)
      description: Must pass through `b2b_transition_order()` — direct status writes rejected.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id, new_status]
              properties:
                order_id: { type: integer }
                new_status:
                  type: string
                  enum:
                    [
                      draft,
                      pending_stock_review,
                      awaiting_confirm,
                      partial_fulfilled,
                      shipped,
                      completed,
                      cancelled,
                    ]
                note: { type: string }
      responses:
        "200": { description: Status changed }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409":
          description: FSM transition not allowed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2b/v1/order-history:
    get:
      tags: [B2B-Orders]
      summary: Customer order history (LIFF)
      security:
        - b2bSessionToken: []
      parameters:
        - name: session_token
          in: query
          required: true
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
      responses:
        "200":
          description: List of orders
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Order" }

  /b2b/v1/order-detail:
    get:
      tags: [B2B-Orders]
      summary: Customer order detail
      security:
        - b2bSessionToken: []
      parameters:
        - name: order_id
          in: query
          required: true
          schema: { type: integer }
        - name: session_token
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Order detail including items + BO split view
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Order" }

  /b2b/v1/slip-upload:
    post:
      tags: [B2B-Orders]
      summary: Upload payment slip for verification
      description: Calls Slip2Go API + attaches to order. Supports walk-in alternate bank.
      security:
        - b2bSessionToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [order_id, slip]
              properties:
                order_id: { type: integer }
                slip: { type: string, format: binary }
      responses:
        "200": { description: Slip verified }
        "400": { $ref: "#/components/responses/BadRequest" }

  #
  # B2B — Backorder System V.1.6
  #
  /b2b/v1/bo-split:
    post:
      tags: [B2B-Backorder]
      summary: Admin splits order into fulfilled + backorder items
      description: |
        Validates invariant `qty_fulfill + qty_bo = qty` per SKU. Performs
        per-SKU leaf stock subtract + bo_queue insert + per-SKU compound debt +
        FSM → partial_fulfilled + 10min undo window.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BOSplitRequest" }
      responses:
        "200":
          description: Split applied
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BOSplitResponse" }
        "422":
          description: Invariant violation (sum mismatch)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2b/v1/bo-confirm-full:
    post:
      tags: [B2B-Backorder]
      summary: Admin confirms full order (no BO split)
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id]
              properties:
                order_id: { type: integer }
      responses:
        "200":
          description: "Order fully confirmed, stock subtracted"

  /b2b/v1/bo-reject:
    post:
      tags: [B2B-Backorder]
      summary: Admin rejects order at stock review
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id, reason]
              properties:
                order_id: { type: integer }
                reason: { type: string }
      responses:
        "200": { description: Order cancelled + counters reverted }

  /b2b/v1/bo-fulfill:
    post:
      tags: [B2B-Backorder]
      summary: Admin marks BO item as fulfilled
      description: |
        FOR UPDATE lock + debt add + FSM transition to awaiting_confirm if all
        BO items resolved. Fires `b2b_bo_items_fulfilled` action → H5 Flash
        secondary order + H6 print queue.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bo_queue_id]
              properties:
                bo_queue_id: { type: integer }
                eta_date: { type: string, format: date }
      responses:
        "200": { description: BO item fulfilled }

  /b2b/v1/bo-queue:
    get:
      tags: [B2B-Backorder]
      summary: List BO queue items (admin)
      security:
        - wpNonce: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, ready, fulfilled, cancelled]
        - name: sku
          in: query
          schema: { type: string }
        - name: age_days
          in: query
          schema: { type: integer }
      responses:
        "200":
          description: BO queue list with summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/BOQueueItem" }
                  summary: { type: object }

  /b2b/v1/bo-pending-review:
    get:
      tags: [B2B-Backorder]
      summary: List orders awaiting admin stock review
      security:
        - wpNonce: []
      responses:
        "200":
          description: Orders in pending_stock_review status
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Order" }

  /b2b/v1/bo-summary:
    get:
      tags: [B2B-Backorder]
      summary: Badge counts (pending_review + bo_ready)
      responses:
        "200":
          description: Counts for dashboard badge
          content:
            application/json:
              schema:
                type: object
                properties:
                  pending_review: { type: integer }
                  bo_ready: { type: integer }

  /b2b/v1/bo-restock-scan:
    post:
      tags: [B2B-Backorder]
      summary: Manual trigger restock scan (normally cron 15min)
      security:
        - wpNonce: []
      responses:
        "200":
          description: Scan result
          content:
            application/json:
              schema:
                type: object
                properties:
                  promoted: { type: integer, description: Pending BO items promoted to ready }

  /b2b/v1/bo-undo-split:
    post:
      tags: [B2B-Backorder]
      summary: Admin undo split (10min window, max 1/order)
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id]
              properties:
                order_id: { type: integer }
      responses:
        "200":
          description: "Split reverted to pending_stock_review"
        "410":
          description: Undo window expired
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2b/v1/bo-cancel-item:
    post:
      tags: [B2B-Backorder]
      summary: Admin cancel a single BO item (discontinued)
      description: |
        Cancels one BO queue row without affecting other items in the
        same order. Updates `bo_queue.status='cancelled'` + customer
        notify (V.1.8 snapshots row BEFORE update for accurate Flex card).
        See [B2B] Snippet 16 line 2191.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id, bo_queue_id]
              properties:
                order_id: { type: integer }
                bo_queue_id: { type: integer, description: "wp_dinoco_bo_queue.id" }
                reason: { type: string, default: "discontinued" }
      responses:
        "200":
          description: "BO item cancelled, customer notified"
        "400":
          description: invalid_input — missing required fields
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2b/v1/bo-order-detail:
    get:
      tags: [B2B-Backorder]
      summary: Single order detail with fresh + snapshot stock
      description: |
        Returns one pending_stock_review order. Faster than the
        bo-pending-review list when admin clicks into the Split modal.
        Returns BOTH `_b2b_stock_snapshot` (admin-only meta from opaque
        accept) AND a fresh recompute (in case stock changed since).
        See [B2B] Snippet 16 line 780.
      security:
        - wpNonce: []
      parameters:
        - name: order_id
          in: query
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Order details with snapshot + fresh stock
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id: { type: integer }
                  status: { type: string }
                  distributor_id: { type: integer }
                  distributor_name: { type: string }
                  total: { type: number }
                  age_hours: { type: number }
                  snapshot:
                    type: object
                    description: "_b2b_stock_snapshot meta (admin-only)"
                  fresh:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        available: { type: integer }
                        requested: { type: integer }
        "404":
          description: not_found — order does not exist
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2b/v1/bo-update-eta:
    post:
      tags: [B2B-Backorder]
      summary: Admin extend or change ETA on a BO queue row
      description: |
        Recomputes ETA = NOW + eta_days for one BO queue row. Only
        works on rows in `pending` or `ready` status. Notes append to
        existing (pipe-separated). See [B2B] Snippet 16 line 828.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bo_queue_id, eta_days]
              properties:
                bo_queue_id: { type: integer }
                eta_days: { type: integer, minimum: 0, description: "0 clears ETA" }
                notes: { type: string, description: "Appended to existing notes" }
      responses:
        "200":
          description: "ETA updated"
        "400":
          description: "invalid_input or invalid_status"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2b/v1/bo-bulk-fulfill:
    post:
      tags: [B2B-Backorder]
      summary: Admin bulk-fulfill multiple BO queue rows (grouped by order)
      description: |
        Iterates `items[]`, groups by order_id internally to batch FSM
        transitions efficiently. Returns per-row success/failed counts
        plus per-item error messages. See [B2B] Snippet 16 line 865.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items:
                  type: array
                  items:
                    type: object
                    required: [bo_queue_id]
                    properties:
                      bo_queue_id: { type: integer }
                      qty: { type: integer, description: "Override qty (default = bo_queue.qty_bo)" }
      responses:
        "200":
          description: Aggregate result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: integer }
                  failed: { type: integer }
                  errors:
                    type: array
                    items: { type: string }

  /b2b/v1/bo-bulk-cancel:
    post:
      tags: [B2B-Backorder]
      summary: Admin bulk-cancel multiple BO queue rows
      description: |
        V.1.11 BUG-M7: returns `errors[]` so admin UI can render
        per-item failure reasons (previously only counts).
        See [B2B] Snippet 16 line 921.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bo_queue_ids]
              properties:
                bo_queue_ids:
                  type: array
                  items: { type: integer }
                reason: { type: string, default: "bulk_cancel" }
      responses:
        "200":
          description: Aggregate result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: integer }
                  failed: { type: integer }
                  errors:
                    type: array
                    items: { type: string }

  /b2b/v1/bo-clear-enum-flag:
    post:
      tags: [B2B-Backorder]
      summary: Admin clear enumeration-attempt flag on distributor
      description: |
        Resets `_b2b_enumeration_flags` postmeta on a distributor CPT
        after admin manual review confirms no enumeration attack. Used
        by the Security Log admin tab false-positive cleanup workflow.
        See [B2B] Snippet 16 line 1033.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [distributor_id]
              properties:
                distributor_id: { type: integer }
      responses:
        "200":
          description: Flag cleared
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  distributor_id: { type: integer }
        "400":
          description: invalid_input — distributor_id required
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  #
  # B2B — Flash shipping
  #
  /b2b/v1/flash-create:
    post:
      tags: [B2B-Flash]
      summary: Create Flash Express shipment for ticket
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ticket_id]
              properties:
                ticket_id: { type: integer }
      responses:
        "200":
          description: Shipment created with PNO(s)
          content:
            application/json:
              schema:
                type: object
                properties:
                  pno: { type: string }
                  pnos: { type: array, items: { type: string } }

  /b2b/v1/flash-tracking:
    get:
      tags: [B2B-Flash]
      summary: Get Flash tracking events
      parameters:
        - name: pno
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Tracking events
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/FlashEvent" }

  /b2b/v1/flash-label:
    post:
      tags: [B2B-Flash]
      summary: Get Flash shipping label as PDF
      description: |
        Fetches the Flash label PDF for a ticket's first PNO (or
        explicit pno parameter). Returns inline application/pdf for
        admin print preview. Source: [B2B] Snippet 5 line 382.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ticket_id:
                  type: integer
                  description: "If pno omitted, uses ticket's first PNO from _flash_tracking_numbers"
                pno:
                  type: string
                  description: "Direct PNO override (optional)"
      responses:
        "200":
          description: Inline PDF
          content:
            application/pdf:
              schema: { type: string, format: binary }
        "400":
          description: "Missing pno or label fetch failed"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2b/v1/flash-ready-to-ship:
    post:
      tags: [B2B-Flash]
      summary: Bulk-transition tickets to ready_to_ship status
      description: |
        Updates `_flash_packing_status` to `ready_to_ship` for one or
        more tickets, then triggers customer Flex notify. Only tickets
        in (flash_created, print_queued, print_done, notify_error)
        states transition. Source: [B2B] Snippet 5 line 410.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ticket_ids:
                  type: array
                  items: { type: integer }
                  description: "Bulk: array form preferred"
                ticket_id:
                  type: integer
                  description: "Single: fallback if ticket_ids omitted"
      responses:
        "200":
          description: Aggregate result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  total_parcels: { type: integer }
                  notified_tickets:
                    type: array
                    items: { type: integer }
        "400":
          description: invalid_input — no ticket_ids
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2b/v1/flash-cancel:
    post:
      tags: [B2B-Flash]
      summary: Cancel all Flash PNOs for a ticket
      description: |
        Iterates `_flash_tracking_numbers` and calls Flash cancel API
        per PNO. Returns specific error code mapping (e.g., 1015 =
        คูเรียร์รับพัสดุไปแล้ว / courier already picked up — too late
        to cancel). Source: [B2B] Snippet 5 line 502.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ticket_id]
              properties:
                ticket_id: { type: integer }
      responses:
        "200":
          description: Cancellation result (may include partial errors)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  cancelled_pnos:
                    type: array
                    items: { type: string }
                  errors:
                    type: array
                    items: { type: string }
        "400":
          description: "Invalid ticket or no tracking numbers"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2b/v1/flash-ship-packed:
    post:
      tags: [B2B-Flash]
      summary: RPi/warehouse — confirm parcel(s) packed
      description: |
        RPi-only endpoint — requires `X-Print-Key` header (b2b_verify_print_key).
        Marks PNOs as packed in `_flash_pno_statuses`. When ALL PNOs of
        a ticket are packed, ticket auto-transitions to ready_to_ship.
        Source: [B2B] Snippet 3 line 3413.
      security:
        - basicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ticket_id]
              properties:
                ticket_id: { type: integer }
                packed_pnos:
                  type: array
                  items: { type: string }
                  description: "PNOs to mark packed (omit = all)"
      responses:
        "200":
          description: Pack status updated
        "403":
          description: Invalid X-Print-Key header
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Ticket not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2b/v1/flash-dashboard-stats:
    get:
      tags: [B2B-Flash]
      summary: Admin Flash dashboard — packing-status counts + today cost
      description: |
        Aggregates `_flash_packing_status` postmeta into a counts map +
        today's shipping cost total. Used by admin Flash V.42 dashboard
        widgets. Source: [B2B] Snippet 3 line 4365.
      security:
        - wpNonce: []
      responses:
        "200":
          description: Stats payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  stats:
                    type: object
                    additionalProperties: { type: integer }
                    description: "Map of status → count (e.g., flash_created: 12, ready_to_ship: 5)"
                  today_cost:
                    type: number
                    description: "Sum of today's shipping costs (THB)"

  /b2b/v1/manual-flash-create:
    post:
      tags: [B2B-Flash]
      summary: Manual Flash shipping (V.41.2 — no B2B order required)
      description: Standalone shipping with split pickup (warehouse) vs registered address on label.
      security:
        - basicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ManualFlashRequest" }
      responses:
        "200":
          description: Flash shipment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  pno: { type: string }
                  label_sender: { type: object }

  #
  # B2B — Print (RPi)
  #
  /b2b/v1/print-queue:
    get:
      tags: [B2B-Print]
      summary: RPi print daemon polls for new jobs
      security:
        - basicAuth: []
      responses:
        "200":
          description: Queued print jobs
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/PrintJob" }

  /b2b/v1/print-ack:
    post:
      tags: [B2B-Print]
      summary: RPi acknowledges print job completion
      security:
        - basicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [job_id, status]
              properties:
                job_id: { type: integer }
                status: { type: string, enum: [success, failed] }
                error: { type: string }
      responses:
        "200": { description: Ack recorded }

  /b2b/v1/print-heartbeat:
    post:
      tags: [B2B-Print]
      summary: RPi daemon heartbeat (every 60s)
      security:
        - basicAuth: []
      responses:
        "200": { description: Heartbeat recorded }

  #
  # B2F — Makers
  #
  /b2f/v1/makers:
    get:
      tags: [B2F-Makers]
      summary: List all Makers
      security:
        - wpNonce: []
      responses:
        "200":
          description: Maker list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Maker" }

  /b2f/v1/maker:
    post:
      tags: [B2F-Makers]
      summary: Create or update Maker
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Maker" }
      responses:
        "200": { description: Maker saved }

  /b2f/v1/maker-products/{maker_id}:
    get:
      tags: [B2F-Makers]
      summary: List products registered to a Maker
      description: |
        V.11.0 returns enriched fields (`production_mode`, `confirmation_status`,
        `admin_display_mode`, `missing_leaves[]`) when flag
        `b2f_flag_v11_explicit_mode=true`. Phase 3 reads from junction table
        when `b2f_flag_read_from_junction=true`.
      security:
        - wpNonce: []
      parameters:
        - name: maker_id
          in: path
          required: true
          schema: { type: integer }
        - name: include_virtual
          in: query
          description: V.9.19 opt-in virtual SET injection
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Maker product list with hierarchy context
          headers:
            X-B2F-API-Version:
              schema: { type: string, example: "11.0" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/MakerProduct" }
                  sku_relations: { type: object }
                  catalog_map: { type: object }
                  maker_profile: { type: object }

  /b2f/v1/maker-product:
    post:
      tags: [B2F-Makers]
      summary: Save a maker × product mapping
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MakerProduct" }
      responses:
        "200": { description: Saved }

  #
  # B2F — Purchase Orders
  #
  /b2f/v1/create-po:
    post:
      tags: [B2F-PO]
      summary: Create Purchase Order
      description: |
        DD-7 auto-expands SETs into leaves + tracks `parent_breakdown[]`.
        V.7.0 accepts `order_mode` (full_set/sub_unit/single_leaf) +
        `source_sku` + `intent_notes` per item. Currency immutable after submit.
      security:
        - wpNonce: []
        - b2fAdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreatePORequest" }
      responses:
        "200":
          description: PO created in draft status
          content:
            application/json:
              schema:
                type: object
                properties:
                  po_id: { type: integer }
                  status: { type: string, enum: [draft] }
        "400":
          description: Validation failure (invariant / enum / source_sku not ancestor)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2f/v1/po-detail/{po_id}:
    get:
      tags: [B2F-PO]
      summary: Get PO detail
      description: |
        PII callback gate strips `poi_intent_notes` +
        `poi_production_mode_snapshot` + `order_intent_summary` for non-admin.
      security:
        - wpNonce: []
        - b2fAdminToken: []
      parameters:
        - name: po_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: PO detail with items + receiving + payment
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PO" }

  /b2f/v1/po-update:
    post:
      tags: [B2F-PO]
      summary: Update draft PO (only if status=draft)
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreatePORequest" }
      responses:
        "200": { description: Updated }
        "409":
          description: PO not in draft state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2f/v1/po-cancel:
    post:
      tags: [B2F-PO]
      summary: Cancel PO with reason
      description: |
        V.8.2 uses FSM transition (no delete). Restores stock + keeps audit
        trail (`_b2f_cancel_reason`, `_b2f_cancelled_by`, `_b2f_cancelled_at`).
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [po_id, reason]
              properties:
                po_id: { type: integer }
                reason: { type: string }
      responses:
        "200": { description: PO cancelled }

  /b2f/v1/po-undo-submit:
    post:
      tags: [B2F-PO]
      summary: Undo submit within 30s window (V.11.0)
      description: DB-clock window + dual auth + FOR UPDATE + FSM draft→cancelled.
      security:
        - wpNonce: []
        - b2fAdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [po_id]
              properties:
                po_id: { type: integer }
      responses:
        "200": { description: Submit reverted }
        "410":
          description: 30-second undo window expired
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2f/v1/maker-confirm:
    post:
      tags: [B2F-PO]
      summary: Maker confirms PO (from LIFF)
      security:
        - b2fAdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [po_id]
              properties:
                po_id: { type: integer }
      responses:
        "200": { description: PO transitioned submitted → confirmed }

  /b2f/v1/maker-deliver:
    post:
      tags: [B2F-PO]
      summary: Maker marks PO as delivered
      security:
        - b2fAdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [po_id]
              properties:
                po_id: { type: integer }
                tracking_number: { type: string }
      responses:
        "200": { description: PO → delivering }

  /b2f/v1/receive-goods:
    post:
      tags: [B2F-Receive]
      summary: Admin records goods received (triggers credit + stock add)
      description: |
        Per-item receive with `rcv_qty` + `rcv_unit_price` (in PO currency).
        Persists `unit_cost_thb = unit_price × exchange_rate` to stock
        transactions for WAC valuation. Adds `rcv_total_value` to payable ledger.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReceiveGoodsRequest" }
      responses:
        "200":
          description: Goods received
          content:
            application/json:
              schema:
                type: object
                properties:
                  receipt_id: { type: integer }
                  total_thb: { type: number }
                  new_payable: { type: number }

  /b2f/v1/record-payment:
    post:
      tags: [B2F-Receive]
      summary: Admin records payment to Maker (subtracts payable)
      description: ≠THB currency skips slip verify (admin_approved).
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [po_id, amount, method]
              properties:
                po_id: { type: integer }
                amount: { type: number }
                method: { type: string, enum: [bank_transfer, cash, wire] }
                slip_url: { type: string }
      responses:
        "200": { description: Payment recorded }

  /b2f/v1/dashboard-stats:
    get:
      tags: [B2F-PO]
      summary: Admin dashboard aggregated stats
      security:
        - wpNonce: []
      responses:
        "200":
          description: Aggregated counts + payables
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_pos: { type: integer }
                  awaiting_confirmation: { type: integer }
                  total_payable_thb: { type: number }
                  by_currency: { type: object }

  /b2f/v1/approve-reschedule:
    post:
      tags: [B2F-PO]
      summary: Admin approve/reject Maker reschedule request
      description: |
        เมื่อ Maker request เลื่อน delivery date — Admin review ผ่าน
        endpoint นี้. approved=true → update po_delivery_date + Flex
        notify Maker. approved=false → keep original date + Flex แจ้ง
        Maker. Source: [B2F] Snippet 2 line 4339.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [po_id, approved]
              properties:
                po_id: { type: integer }
                approved: { type: boolean }
                note: { type: string }
      responses:
        "200":
          description: "Approve/reject ดำเนินการแล้ว + Flex notify"
        "400":
          description: "MISSING_PO หรือ PO ไม่ใช่ status reschedule_requested"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2f/v1/reject-lot:
    post:
      tags: [B2F-Receive]
      summary: Admin reject lot during QC inspection
      description: |
        Mark received goods เป็น qc_rejected ใน `dinoco_receiving_log`.
        ส่ง Flex แจ้ง Maker ให้แก้ไข. PO กลับไป status `qc_rejected`
        จนกว่า reject-resolve จะปิด. Source: [B2F] Snippet 2 line 5671.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [po_id, reason]
              properties:
                po_id: { type: integer }
                reason: { type: string }
      responses:
        "200":
          description: "Lot rejected + Maker notify"
        "400":
          description: "MISSING_PO"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2f/v1/reject-resolve:
    post:
      tags: [B2F-Receive]
      summary: Resolve rejected lot (re-ship หรือ credit-note)
      description: |
        ปิด rejected lot. action='reship' → Maker จัดส่งใหม่ + ขยาย
        deadline. action='credit_note' → Maker ออก credit note ลด
        ยอด payable. Source: [B2F] Snippet 2 line 5731.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rcv_id, action]
              properties:
                rcv_id: { type: integer, description: "dinoco_receiving_log.id" }
                action:
                  type: string
                  enum: [reship, credit_note]
                note: { type: string }
      responses:
        "200":
          description: Resolution applied
        "400":
          description: "MISSING_RCV หรือ invalid action"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2f/v1/po-complete:
    post:
      tags: [B2F-PO]
      summary: Admin force-close PO (ไม่ต้องชำระ)
      description: |
        ปิด PO ในสถานะ paid → completed ทันที (FSM transition).
        ใช้กรณี admin ต้องการปิด PO โดยไม่ผ่าน payment workflow ปกติ
        (เช่น barter trade, internal adjustment). Source: [B2F]
        Snippet 2 line 5944.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [po_id]
              properties:
                po_id: { type: integer }
                note:
                  type: string
                  default: "ปิด PO — ไม่ต้องชำระ"
      responses:
        "200":
          description: "PO closed (status=completed)"
        "400":
          description: "MISSING_PO หรือ FSM transition ไม่ valid"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /b2f/v1/po-history:
    get:
      tags: [B2F-PO]
      summary: Filter + paginate PO history
      description: |
        Filter ตาม maker / status / date range / overdue flag. ใช้
        ใน Admin Orders tab. Source: [B2F] Snippet 2 line 5534.
      security:
        - wpNonce: []
      parameters:
        - name: maker_id
          in: query
          schema: { type: integer }
        - name: status
          in: query
          schema: { type: string }
        - name: overdue
          in: query
          description: "1 = filter เฉพาะ POs ที่เลย delivery date"
          schema: { type: integer, enum: [0, 1] }
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 200 }
      responses:
        "200":
          description: Filtered PO list
          content:
            application/json:
              schema:
                type: object
                properties:
                  total: { type: integer }
                  pos:
                    type: array
                    items:
                      type: object
                      properties:
                        po_id: { type: integer }
                        po_number: { type: string }
                        maker_id: { type: integer }
                        maker_name: { type: string }
                        status: { type: string }
                        currency: { type: string }
                        po_total_amount: { type: number }
                        po_delivery_date: { type: string, format: date }
                        is_overdue: { type: boolean }

  #
  # LIFF AI
  #
  /liff-ai/v1/auth:
    post:
      tags: [LIFF-AI]
      summary: Exchange LINE ID token for JWT session
      description: Verifies LINE ID Token → matches dealer/admin → issues JWT (8h TTL).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token]
              properties:
                id_token: { type: string }
      responses:
        "200":
          description: JWT issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string, description: JWT Bearer }
                  role: { type: string, enum: [dealer, admin] }
                  dealer: { $ref: "#/components/schemas/Dealer" }
        "401":
          description: LINE token invalid
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /liff-ai/v1/dashboard:
    get:
      tags: [LIFF-AI]
      summary: Admin dashboard aggregated stats
      security:
        - liffAiBearer: []
      responses:
        "200":
          description: Lead + claim counts by status
          content:
            application/json:
              schema:
                type: object
                properties:
                  leads: { type: object }
                  claims: { type: object }

  /liff-ai/v1/leads:
    get:
      tags: [LIFF-AI]
      summary: List leads (filtered by role — dealer sees own, admin sees all)
      security:
        - liffAiBearer: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              [
                new,
                assigned,
                contacted,
                qualified,
                quoted,
                closed_won,
                closed_lost,
                waiting_stock,
                waiting_decision,
              ]
        - name: page
          in: query
          schema: { type: integer, default: 1 }
      responses:
        "200":
          description: Lead list
          content:
            application/json:
              schema:
                type: object
                properties:
                  leads:
                    type: array
                    items: { $ref: "#/components/schemas/Lead" }

  /liff-ai/v1/lead/{id}:
    get:
      tags: [LIFF-AI]
      summary: Lead detail (MongoDB via agent proxy)
      security:
        - liffAiBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, pattern: "^[a-f0-9]{24}$" }
      responses:
        "200":
          description: Lead detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Lead" }

  /liff-ai/v1/lead/{id}/status:
    post:
      tags: [LIFF-AI]
      summary: Update lead status (FSM-validated)
      security:
        - liffAiBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string }
                note: { type: string }
      responses:
        "200": { description: Status updated }

  /liff-ai/v1/claims:
    get:
      tags: [LIFF-AI]
      summary: List warranty claims
      security:
        - liffAiBearer: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              [
                pending,
                reviewing,
                approved,
                in_progress,
                waiting_parts,
                repairing,
                quality_check,
                completed,
                rejected,
                cancelled,
                closed,
              ]
      responses:
        "200":
          description: Claim list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Claim" }

  /liff-ai/v1/claim/{id}:
    get:
      tags: [LIFF-AI]
      summary: Claim detail
      security:
        - liffAiBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Claim with photos + ai_analysis + status_history
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Claim" }

  /liff-ai/v1/claim/{id}/status:
    post:
      tags: [LIFF-AI]
      summary: Change claim status (admin only)
      security:
        - liffAiBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string }
                note: { type: string }
      responses:
        "200": { description: Claim status updated + history appended }
        "403": { $ref: "#/components/responses/Forbidden" }

  /liff-ai/v1/dealer-dashboard:
    get:
      tags: [LIFF-AI]
      summary: Dealer-only dashboard (KPIs ของตัวแทนคนปัจจุบัน)
      description: |
        Filter leads + claims เฉพาะ dealer_id ที่ผูกกับ JWT session.
        คืน KPIs (lead total, in_progress, closed_won) + claim status
        breakdown. แตกต่างจาก /dashboard (admin scope ทั้งระบบ).
        Source: [LIFF AI] Snippet 1 line 649.
      security:
        - liffAiBearer: []
      responses:
        "200":
          description: Dealer-scoped KPIs
          content:
            application/json:
              schema:
                type: object
                properties:
                  dealer_id: { type: integer }
                  leads:
                    type: object
                    properties:
                      total: { type: integer }
                      new: { type: integer }
                      in_progress: { type: integer }
                      closed_won: { type: integer }
                      waiting_decision: { type: integer }
                  claims:
                    type: object
                    properties:
                      total: { type: integer }
                      pending: { type: integer }
                      in_progress: { type: integer }
                      completed: { type: integer }

  /liff-ai/v1/lead/{id}/accept:
    post:
      tags: [LIFF-AI]
      summary: Dealer รับ lead ที่ assigned
      description: |
        Mark lead เป็น `accepted_by_dealer` + transition status →
        `in_progress`. ตรวจ ownership ก่อน — lead ต้อง assigned ให้
        dealer คนนี้. Source: [LIFF AI] Snippet 1 line 767.
      security:
        - liffAiBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, description: "Lead UUID (a-f0-9)" }
      responses:
        "200":
          description: Lead accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  lead_id: { type: string }
                  status: { type: string, enum: [in_progress] }

  /liff-ai/v1/lead/{id}/note:
    post:
      tags: [LIFF-AI]
      summary: เพิ่ม note ใน lead history
      description: |
        Append note ลง lead.history (Mongo via Agent proxy). Both
        admin + dealer permitted (ตรวจ ownership ใน handler).
        Source: [LIFF AI] Snippet 1 line 802.
      security:
        - liffAiBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [note]
              properties:
                note: { type: string, description: "Note text (sanitize_textarea_field)" }
      responses:
        "200":
          description: Note appended
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  history_count: { type: integer }
        "400":
          description: Empty note
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /liff-ai/v1/agent-ask:
    post:
      tags: [LIFF-AI]
      summary: Proxy to OpenClaw agent (Gemini/Claude)
      description: Forwards to LIFF_AI_AGENT_URL with LIFF_AI_AGENT_KEY bearer.
      security:
        - liffAiBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt]
              properties:
                prompt: { type: string }
                context: { type: object }
      responses:
        "200":
          description: Agent response
          content:
            application/json:
              schema:
                type: object
                properties:
                  text: { type: string }
                  tools_called: { type: array, items: { type: string } }
        "503":
          description: Agent proxy unreachable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  #
  # Inventory
  #
  /dinoco-stock/v1/stock/list:
    get:
      tags: [Inventory]
      summary: List stock per warehouse
      security:
        - wpNonce: []
      parameters:
        - name: warehouse_id
          in: query
          schema: { type: integer }
        - name: q
          in: query
          schema: { type: string }
        - name: low_stock_only
          in: query
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Stock list with hierarchy relations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/StockItem" }
                  sku_relations: { type: object }

  /dinoco-stock/v1/stock/adjust:
    post:
      tags: [Inventory]
      summary: Manual stock adjustment (admin only)
      description: |
        Uses atomic `dinoco_stock_add/subtract()` with FOR UPDATE lock +
        warehouse sync. Records transaction with type=manual_adjust + reason.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/StockAdjustRequest" }
      responses:
        "200":
          description: Adjustment recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  new_qty: { type: integer }
                  transaction_id: { type: integer }
        "422":
          description: Not a leaf SKU (hierarchy DD-2 guard)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /dinoco-stock/v1/valuation:
    get:
      tags: [Inventory]
      summary: Inventory valuation (WAC)
      description: |
        Weighted Average Cost from `dinoco_stock_transactions.unit_cost_thb`
        populated on B2F receive. Always THB.
      security:
        - wpNonce: []
      responses:
        "200":
          description: Per-SKU valuation + grand total THB
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        sku: { type: string }
                        qty: { type: integer }
                        wac_thb: { type: number }
                        total_thb: { type: number }
                  grand_total_thb: { type: number }

  /dinoco-stock/v1/forecast:
    get:
      tags: [Inventory]
      summary: Stock forecast + reorder suggestions
      description: |
        Calculates avg daily usage over last 30-90 days from outbound
        transactions. Returns days_of_stock + suggested_order_qty.
      security:
        - wpNonce: []
      parameters:
        - name: days
          in: query
          description: Analysis window
          schema: { type: integer, default: 30, minimum: 7, maximum: 180 }
      responses:
        "200":
          description: Forecast per SKU
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ForecastItem" }

  /dinoco-stock/v1/stock/transfer:
    post:
      tags: [Inventory]
      summary: ย้ายสต็อกระหว่าง warehouse
      description: |
        Inter-warehouse transfer ของ SKU เดียว. เขียน 2 entries ใน
        `dinoco_stock_transactions` (out จาก from + in เข้า to) +
        update `dinoco_warehouse_stock` ทั้งสอง row อะตอมิก.
        Source: [Admin System] DINOCO Global Inventory Database line 2802.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sku, from_warehouse_id, to_warehouse_id, qty]
              properties:
                sku: { type: string }
                from_warehouse_id: { type: integer }
                to_warehouse_id: { type: integer }
                qty: { type: integer, minimum: 1 }
                reason: { type: string }
      responses:
        "200":
          description: "ย้ายสำเร็จ"
        "400":
          description: "Invalid input หรือสต็อกไม่พอ"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /dinoco-stock/v1/dip-stock/start:
    post:
      tags: [Inventory]
      summary: เริ่ม dip-stock counting session ใหม่
      description: |
        สร้าง session การนับสต็อกจริง (V.39.0). Snapshot expected_qty
        จาก `dinoco_products.stock_qty` ของ leaf SKUs ทั้งหมด (ใช้
        `dinoco_is_leaf_sku()` filter — ไม่นับ SET + sub-SET).
        ห้ามเริ่มถ้ามี session in_progress ค้างอยู่.
        Source: line 2241.
      security:
        - wpNonce: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes: { type: string }
      responses:
        "200":
          description: Session id + จำนวน leaf SKUs ที่ snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id: { type: integer }
                  total_skus: { type: integer }
        "409":
          description: "มี session ค้าง — ปิด session เดิมก่อน"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /dinoco-stock/v1/dip-stock/current:
    get:
      tags: [Inventory]
      summary: ดู session ที่กำลัง active
      description: |
        Returns session ล่าสุดที่ status='in_progress' พร้อม items
        wrapped กับชื่อสินค้า + expected vs counted qty.
        Source: line 2347.
      security:
        - wpNonce: []
      responses:
        "200":
          description: Active session หรือ null
          content:
            application/json:
              schema:
                type: object
                properties:
                  session:
                    type: object
                    nullable: true
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        sku: { type: string }
                        product_name: { type: string }
                        expected_qty: { type: integer }
                        counted_qty: { type: integer, nullable: true }
                        variance: { type: integer, nullable: true }

  /dinoco-stock/v1/dip-stock/count:
    post:
      tags: [Inventory]
      summary: ส่งผลการนับ — partial หรือ batch ก็ได้
      description: |
        Update counted_qty + variance ใน `dinoco_dip_stock_items`.
        เรียกซ้ำได้ระหว่าง session — counted_at ทับซ้ำ. ตอน /approve
        ค่อย apply variance เข้า stock_qty.
        Source: line 2478.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, items]
              properties:
                session_id: { type: integer }
                items:
                  type: array
                  items:
                    type: object
                    required: [sku, counted_qty]
                    properties:
                      sku: { type: string }
                      counted_qty: { type: integer, minimum: 0 }
                      notes: { type: string }
      responses:
        "200":
          description: Updated count
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated: { type: integer }
                  total_variance: { type: integer }

  /dinoco-stock/v1/dip-stock/approve:
    post:
      tags: [Inventory]
      summary: Apply variance + ปิด session
      description: |
        Apply ทุก variance เข้า `dinoco_products.stock_qty` ผ่าน
        atomic transaction. Audit log ลง `dinoco_stock_transactions`
        ด้วย type='dip_stock_adjust' พร้อม session_id ref. Cascade
        update `stock_display` ของ ancestors (parent SET).
        Source: line 2552.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id]
              properties:
                session_id: { type: integer }
                notes: { type: string }
      responses:
        "200":
          description: Variance applied + session closed
          content:
            application/json:
              schema:
                type: object
                properties:
                  applied: { type: integer }
                  total_variance: { type: integer }
                  session_status: { type: string, enum: ["completed"] }

  /dinoco-stock/v1/dip-stock/history:
    get:
      tags: [Inventory]
      summary: รายการ dip-stock sessions ที่ผ่านมา
      description: |
        List recent sessions (newest first). ใช้แสดง audit trail บน
        admin Dip Stock tab. Source: line 2690.
      security:
        - wpNonce: []
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 30, maximum: 100 }
      responses:
        "200":
          description: รายการ sessions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    session_date: { type: string, format: date }
                    status: { type: string }
                    total_skus: { type: integer }
                    counted_skus: { type: integer }
                    adjusted_skus: { type: integer }
                    completed_at: { type: string, format: date-time, nullable: true }

  /dinoco-stock/v1/product/pricing:
    post:
      tags: [Inventory]
      summary: Update product pricing (dual-write)
      description: |
        Writes to `wp_dinoco_products` custom table AND ACF postmeta for
        backward compat. Invalidates `b2b_sku_data_map` transient.
      security:
        - wpNonce: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProductPricingRequest" }
      responses:
        "200": { description: Pricing updated }

  /dinoco-stock/v1/warehouses:
    get:
      tags: [Inventory]
      summary: List warehouses
      security:
        - wpNonce: []
      responses:
        "200":
          description: Warehouse list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Warehouse" }

  #
  # MCP Bridge — full 32 endpoints (Phase 1 + Phase 2 + Phase 3)
  #
  /dinoco-mcp/v1/product-lookup:
    post:
      tags: [MCP]
      summary: Lookup product by SKU or name (agent tool)
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sku: { type: string }
                query: { type: string }
      responses:
        "200":
          description: Product with stock_status
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Product" }

  /dinoco-mcp/v1/warranty-check:
    post:
      tags: [MCP]
      summary: Check warranty status by phone or serial
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone: { type: string }
                serial: { type: string }
      responses:
        "200":
          description: Warranty status + registered products
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_registered: { type: boolean }
                  registrations: { type: array }

  /dinoco-mcp/v1/kb-search:
    post:
      tags: [MCP]
      summary: Semantic KB search
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query: { type: string }
                top_k: { type: integer, default: 5 }
      responses:
        "200":
          description: Top-k KB matches with score
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title: { type: string }
                    content: { type: string }
                    score: { type: number }

  /dinoco-mcp/v1/dealer-lookup:
    post:
      tags: [MCP]
      summary: Lookup distributor by province/district or name
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                province: { type: string }
                district: { type: string }
                query: { type: string }
      responses:
        "200":
          description: Matching dealers
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Dealer" }

  /dinoco-mcp/v1/lead-create:
    post:
      tags: [MCP]
      summary: Create lead from agent conversation
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Lead" }
      responses:
        "200":
          description: Lead created
          content:
            application/json:
              schema:
                type: object
                properties:
                  lead_id: { type: string }

  /dinoco-mcp/v1/lead-update:
    post:
      tags: [MCP]
      summary: Update lead status / fields
      description: |
        ใช้โดย OpenClaw agent ปรับ lead pipeline หลังคุยกับลูกค้า. รองรับ
        17 statuses ใน LEAD_STATUSES (lead-pipeline.js).
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lead_id]
              properties:
                lead_id: { type: string }
                status: { type: string }
                next_action_at: { type: string, format: date-time, nullable: true }
                notes: { type: string }
      responses:
        "200": { description: Updated }
        "404": { description: Lead not found }

  /dinoco-mcp/v1/lead-list:
    get:
      tags: [MCP]
      summary: List leads (filterable)
      security:
        - apiKey: []
      parameters:
        - in: query
          name: status
          schema: { type: string }
        - in: query
          name: dealer_id
          schema: { type: integer }
        - in: query
          name: limit
          schema: { type: integer, default: 50, maximum: 200 }
      responses:
        "200":
          description: Paginated leads
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Lead" }
                  total: { type: integer }

  /dinoco-mcp/v1/lead-get/{id}:
    get:
      tags: [MCP]
      summary: Get single lead by ID
      security:
        - apiKey: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Lead detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Lead" }
        "404": { description: Not found }

  /dinoco-mcp/v1/lead-followup-schedule:
    post:
      tags: [MCP]
      summary: Schedule lead follow-up reminder
      description: |
        Agent กำหนดเวลาเด้ง LINE Flex follow-up กลับมา (โต้ตอบกับ
        scheduler ใน openclawminicrm/proxy/lead-pipeline.js).
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lead_id, followup_at]
              properties:
                lead_id: { type: string }
                followup_at: { type: string, format: date-time }
                reason: { type: string }
      responses:
        "200": { description: Scheduled }

  # /dinoco-mcp/v1/kb-search already documented above. Below = export/suggest/update family.
  /dinoco-mcp/v1/kb-export:
    get:
      tags: [MCP]
      summary: Export full Knowledge Base entries
      description: ใช้ฝั่ง agent sync KB ลง local cache. Returns array — large payload.
      security:
        - apiKey: []
      parameters:
        - in: query
          name: since
          description: ISO timestamp — return only entries updated after this
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: KB entries (full or delta)
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }
                  entries:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: integer }
                        question: { type: string }
                        answer: { type: string }
                        category: { type: string }
                        source: { type: string }
                        updated_at: { type: string, format: date-time }

  /dinoco-mcp/v1/kb-suggest:
    post:
      tags: [MCP]
      summary: Suggest KB entry for review (auto-training feedback)
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [question, suggested_answer]
              properties:
                question: { type: string }
                suggested_answer: { type: string }
                confidence: { type: number, minimum: 0, maximum: 1 }
                source_conversation_id: { type: string }
      responses:
        "201": { description: Suggestion queued for admin review }

  /dinoco-mcp/v1/kb-updated:
    post:
      tags: [MCP]
      summary: Webhook callback — KB entry was updated/added in WP
      description: |
        Reverse direction — WP notifies agent that KB has new content.
        Agent should refetch via /kb-export?since=<last_sync>.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                kb_id: { type: integer }
                action:
                  type: string
                  enum: [created, updated, deleted]
                updated_at: { type: string, format: date-time }
      responses:
        "200": { description: Acknowledged }

  /dinoco-mcp/v1/catalog-full:
    get:
      tags: [MCP]
      summary: Full product catalog snapshot
      description: ใช้โดย agent prefetch catalog ลง memory เลี่ยง per-msg lookup.
      security:
        - apiKey: []
      responses:
        "200":
          description: All B2C products (visible)
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }
                  products:
                    type: array
                    items: { $ref: "#/components/schemas/Product" }

  /dinoco-mcp/v1/inventory-changed:
    post:
      tags: [MCP]
      summary: Webhook — inventory snapshot changed
      description: WP fires this when stock_status drops to out_of_stock or recovers.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sku: { type: string }
                old_status: { type: string }
                new_status: { type: string }
                stock_qty: { type: integer }
      responses:
        "200": { description: Acknowledged }

  /dinoco-mcp/v1/distributor-list:
    get:
      tags: [MCP]
      summary: List all distributors
      security:
        - apiKey: []
      parameters:
        - in: query
          name: rank
          schema:
            type: string
            enum: [standard, silver, gold, platinum, diamond]
        - in: query
          name: province
          schema: { type: string }
      responses:
        "200":
          description: Distributors
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Distributor" }

  /dinoco-mcp/v1/distributor-get/{id}:
    get:
      tags: [MCP]
      summary: Get single distributor
      security:
        - apiKey: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Distributor detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Distributor" }
        "404": { description: Not found }

  /dinoco-mcp/v1/distributor-notify:
    post:
      tags: [MCP]
      summary: Push LINE notification to distributor
      description: |
        Agent ส่ง LINE Flex / text ไปยัง distributor LINE group หรือ owner_line_uid.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [distributor_id, message]
              properties:
                distributor_id: { type: integer }
                message: { type: string, description: Text message OR JSON-encoded Flex }
                type:
                  type: string
                  enum: [text, flex]
      responses:
        "200": { description: Pushed }
        "429": { description: Rate-limited }

  /dinoco-mcp/v1/dealer-sla-report:
    get:
      tags: [MCP]
      summary: Dealer SLA performance report
      description: Response time / first-contact-resolution metrics per dealer.
      security:
        - apiKey: []
      parameters:
        - in: query
          name: dealer_id
          schema: { type: integer }
        - in: query
          name: from
          schema: { type: string, format: date }
        - in: query
          name: to
          schema: { type: string, format: date }
      responses:
        "200":
          description: SLA metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  dealer_id: { type: integer }
                  total_leads: { type: integer }
                  avg_first_response_minutes: { type: number }
                  conversion_rate: { type: number }

  /dinoco-mcp/v1/warranty-registered:
    post:
      tags: [MCP]
      summary: Webhook — new warranty registered
      description: Fires after [dinoco_gateway] form completes successfully.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                warranty_id: { type: integer }
                line_uid: { type: string }
                product_sku: { type: string }
                registered_at: { type: string, format: date-time }
      responses:
        "200": { description: Acknowledged }

  /dinoco-mcp/v1/member-motorcycle:
    get:
      tags: [MCP]
      summary: Get member's registered motorcycle(s)
      security:
        - apiKey: []
      parameters:
        - in: query
          name: line_uid
          required: true
          schema: { type: string }
      responses:
        "200":
          description: List of registered bikes
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    brand: { type: string }
                    model: { type: string }
                    plate: { type: string, nullable: true }
                    year: { type: integer, nullable: true }

  /dinoco-mcp/v1/member-assets:
    get:
      tags: [MCP]
      summary: All assets owned by a member (warranties + claims)
      security:
        - apiKey: []
      parameters:
        - in: query
          name: line_uid
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Member asset bundle
          content:
            application/json:
              schema:
                type: object
                properties:
                  warranties: { type: array, items: { type: object } }
                  claims: { type: array, items: { type: object } }
                  motorcycles: { type: array, items: { type: object } }

  /dinoco-mcp/v1/customer-link:
    post:
      tags: [MCP]
      summary: Link LINE UID to phone/email (account linking)
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [line_uid]
              properties:
                line_uid: { type: string }
                phone: { type: string }
                email: { type: string, format: email }
      responses:
        "200": { description: Linked }
        "409": { description: Conflict — phone already linked to different LINE UID }

  /dinoco-mcp/v1/product-compatibility:
    get:
      tags: [MCP]
      summary: Check product fits motorcycle model
      security:
        - apiKey: []
      parameters:
        - in: query
          name: sku
          required: true
          schema: { type: string }
        - in: query
          name: brand
          schema: { type: string }
        - in: query
          name: model
          schema: { type: string }
      responses:
        "200":
          description: Compatibility result
          content:
            application/json:
              schema:
                type: object
                properties:
                  compatible: { type: boolean }
                  reason: { type: string, nullable: true }

  /dinoco-mcp/v1/moto-catalog:
    get:
      tags: [MCP]
      summary: Motorcycle brand/model catalog
      security:
        - apiKey: []
      responses:
        "200":
          description: All brands + models
          content:
            application/json:
              schema:
                type: object
                properties:
                  brands:
                    type: array
                    items:
                      type: object
                      properties:
                        brand: { type: string }
                        models: { type: array, items: { type: string } }

  /dinoco-mcp/v1/dashboard-inject-metrics:
    post:
      tags: [MCP]
      summary: Inject runtime metrics into agent dashboard
      description: Agent posts perf metrics (avg response time, intent hit rate) for display.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metric_key: { type: string }
                value: { type: number }
                timestamp: { type: string, format: date-time }
      responses:
        "200": { description: Stored }

  /dinoco-mcp/v1/lead-attribution:
    post:
      tags: [MCP]
      summary: Attribute closed-won lead to source/campaign
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lead_id, source]
              properties:
                lead_id: { type: string }
                source: { type: string, description: e.g. facebook_ad / line_oa / referral }
                campaign: { type: string }
                value_thb: { type: number }
      responses:
        "200": { description: Attributed }

  /dinoco-mcp/v1/brand-voice-submit:
    post:
      tags: [MCP]
      summary: Submit brand-voice mention/comment for sentiment analysis
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [platform, content]
              properties:
                platform:
                  type: string
                  enum: [facebook, instagram, tiktok, line, google_review, other]
                content: { type: string }
                author: { type: string }
                url: { type: string, format: uri }
                posted_at: { type: string, format: date-time }
      responses:
        "201": { description: Stored for analysis }

  /dinoco-mcp/v1/claim-manual-create:
    post:
      tags: [MCP]
      summary: Agent creates claim ticket on behalf of customer
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [line_uid, product_sku, issue_description]
              properties:
                line_uid: { type: string }
                product_sku: { type: string }
                issue_description: { type: string }
                photos: { type: array, items: { type: string, format: uri } }
      responses:
        "201":
          description: Claim created
          content:
            application/json:
              schema:
                type: object
                properties:
                  claim_id: { type: integer }
                  ticket_status: { type: string }

  /dinoco-mcp/v1/claim-manual-update:
    post:
      tags: [MCP]
      summary: Update claim ticket fields
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [claim_id]
              properties:
                claim_id: { type: integer }
                notes: { type: string }
                ticket_status:
                  type: string
                  enum:
                    [
                      pending,
                      reviewing,
                      approved,
                      in_progress,
                      waiting_parts,
                      repairing,
                      quality_check,
                      completed,
                      rejected,
                      cancelled,
                      closed,
                    ]
      responses:
        "200": { description: Updated }
        "404": { description: Claim not found }

  /dinoco-mcp/v1/claim-manual-status:
    get:
      tags: [MCP]
      summary: Get claim status by ID
      security:
        - apiKey: []
      parameters:
        - in: query
          name: claim_id
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Status detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  claim_id: { type: integer }
                  ticket_status: { type: string }
                  status_history:
                    type: array
                    items:
                      type: object
                      properties:
                        status: { type: string }
                        changed_at: { type: string, format: date-time }
                        actor: { type: string }

  /dinoco-mcp/v1/claim-manual-list:
    get:
      tags: [MCP]
      summary: List claims for a line_uid
      security:
        - apiKey: []
      parameters:
        - in: query
          name: line_uid
          required: true
          schema: { type: string }
        - in: query
          name: status
          schema: { type: string }
      responses:
        "200":
          description: Claim list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  /dinoco-mcp/v1/claim-status:
    get:
      tags: [MCP]
      summary: Public claim status check (no PII)
      description: ใช้สำหรับ self-service status query — only returns ticket_status, not photos/PII.
      security:
        - apiKey: []
      parameters:
        - in: query
          name: claim_id
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Minimal claim status
          content:
            application/json:
              schema:
                type: object
                properties:
                  claim_id: { type: integer }
                  ticket_status: { type: string }
                  updated_at: { type: string, format: date-time }

  #
  # GDPR (scaffold)
  #
  /dinoco-gdpr/v1/dsr/export:
    post:
      tags: [GDPR]
      summary: Data subject access request — export
      description: |
        Scaffold endpoint. User requests all data DINOCO holds about them
        (warranty registrations, claims, LINE UID mapping, chat logs).
        Returns job_id — async export.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subject_id, verification_token]
              properties:
                subject_id: { type: string, description: LINE UID or phone or email }
                verification_token: { type: string }
      responses:
        "202":
          description: Export job queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id: { type: string }
                  estimated_ready_at: { type: string, format: date-time }

  /dinoco-gdpr/v1/dsr/delete:
    post:
      tags: [GDPR]
      summary: Data subject access request — erasure
      description: |
        Scaffold endpoint. Queues asynchronous data deletion with
        reversible soft-delete + 30-day final purge. Audit-logged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subject_id, verification_token, confirm]
              properties:
                subject_id: { type: string }
                verification_token: { type: string }
                confirm: { type: boolean, enum: [true] }
      responses:
        "202": { description: Erasure scheduled (30-day grace) }
        "403": { $ref: "#/components/responses/Forbidden" }

  /dinoco-gdpr/v1/dsr/status:
    get:
      tags: [GDPR]
      summary: Check DSR job status
      parameters:
        - name: job_id
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Job progress
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id: { type: string }
                  status:
                    type: string
                    enum: [queued, running, completed, failed, cancelled]
                  download_url: { type: string, nullable: true }

  #
  # S/N Management System — admin namespace (Phase 0-4 of v2.13)
  # See plan: ~/.claude/plans/wiki-doc-sequential-lantern.md (v2.13)
  #
  /dinoco-sn/v1/version:
    get:
      tags: [SN-Admin]
      summary: Health check + version + phase
      security: []
      responses:
        "200":
          description: System metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_version: { type: string }
                  schema_version: { type: string }
                  enabled: { type: boolean }
                  phase: { type: string }

  /dinoco-sn/v1/batches:
    get:
      tags: [SN-Admin]
      summary: List batches (paginated)
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [draft, sent_to_factory, received_partial, received_full, closed, cancelled] } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        "200": { description: Batch list }
    post:
      tags: [SN-Admin]
      summary: Create batch + reserve N S/N rows atomically
      description: |
        Idempotent via X-Idempotency-Key (Round 30+ pattern).
        Atomic: GET_LOCK on prefix + START TRANSACTION + chunked INSERT 5000/iter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [batch_code, prefix, qty_total, format_pattern]
              properties:
                batch_code: { type: string, maxLength: 64 }
                prefix: { type: string, pattern: '^[A-Z0-9]{3,6}$' }
                qty_total: { type: integer, minimum: 1, maximum: 1000000 }
                format_pattern: { type: string, example: '{PREFIX}{SEQ:7}' }
                allocation_strategy: { type: string, enum: [open_pool, pre_assigned] }
                factory_name: { type: string }
                factory_po_ref: { type: string }
                notes: { type: string }
      responses:
        "201": { description: Batch created }
        "409": { description: Duplicate batch_code or idempotency conflict }

  /dinoco-sn/v1/batches/{id}:
    get:
      tags: [SN-Admin]
      summary: Batch detail with progress
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        "200": { description: Batch detail }
        "404": { description: Not found }

  /dinoco-sn/v1/batches/{id}/status:
    post:
      tags: [SN-Admin]
      summary: Flip batch status (admin)
      parameters:
[...]
