openapi: 3.1.0
info:
  title: DINOCO REST API (auto-generated)
  version: 1.0.0-autogen
  description: |
    AUTO-GENERATED by `scripts/openapi-autogen.php` on 2026-05-18 08:28:57 UTC.
    
    Total routes: **444** across **18** namespaces.
    
    **Source of truth**: walks `register_rest_route()` calls across all WP snippets.
    **Schemas**: this auto-spec lists endpoints + permissions + source location only.
    For request/response schemas, see manually-curated `docs/api/openapi.yaml`.
    
    **Drift detection**: run with `--check` to exit-2 if generated set differs from this file.
servers:
  - url: 'https://dinoco.in.th'
    description: Production
tags:
  - name: dinoco-b2f-audit/v1
    description: 13 routes
  - name: dinoco/v1
    description: 26 routes
  - name: brand-voice/v1
    description: 4 routes
  - name: dinoco-claim/v1
    description: 25 routes
  - name: dinoco-stock/v1
    description: 21 routes
  - name: b2b/v1
    description: 124 routes
  - name: dinoco-marketplace-tools/v1
    description: 8 routes
  - name: dinoco-sn-api/v1
    description: 6 routes
  - name: dinoco-sn/v1
    description: 82 routes
  - name: dinoco-sn-golive/v1
    description: 10 routes
  - name: dinoco-slip/v1
    description: 15 routes
  - name: dinoco-vat/v1
    description: 8 routes
  - name: dinoco-flash-golive/v1
    description: 10 routes
  - name: dinoco-export/v1
    description: 4 routes
  - name: b2f/v1
    description: 29 routes
  - name: liff-ai/v1
    description: 13 routes
  - name: dinoco-gdpr/v1
    description: 10 routes
  - name: dinoco-mcp/v1
    description: 33 routes
paths:
  /b2b/v1/admin-bo-tickets:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/admin-bo-tickets
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:318`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/admin-shipping-queue:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/admin-shipping-queue
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:327`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/admin-stock-list:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/admin-stock-list
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:315`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/admin-stock-mark-oos:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/admin-stock-mark-oos
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:324`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/admin-stock-unlock:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/admin-stock-unlock
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:321`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/admin-submit-tracking:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/admin-submit-tracking
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:330`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/auth-group:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/auth-group
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:241`
        
        Permission: `public`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
  /b2b/v1/bo-bulk-cancel:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/bo-bulk-cancel
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1113`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-bulk-fulfill:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/bo-bulk-fulfill
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1108`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-cancel-item:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/bo-cancel-item
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1065`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-clear-enum-flag:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/bo-clear-enum-flag
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1125`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-confirm-full:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/bo-confirm-full
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1037`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-fulfill:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/bo-fulfill
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1058`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-notify:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/bo-notify
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:251`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-order-detail:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/bo-order-detail
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1094`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-pending-review:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/bo-pending-review
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1087`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-queue:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/bo-queue
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1072`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-reject:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/bo-reject
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1044`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-restock-scan:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/bo-restock-scan
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1079`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-split:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/bo-split
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1030`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-summary:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/bo-summary
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1120`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-undo-split:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/bo-undo-split
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1051`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/bo-update-eta:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/bo-update-eta
      description: |
        Source: `[B2B] Snippet 16: Backorder System:1101`
        
        Permission: `callback:b2b_bo_permission_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/cancel-request:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/cancel-request
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:260`
        
        Permission: `public`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
  /b2b/v1/catalog:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/catalog
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:231`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/combined-invoice-gen:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/combined-invoice-gen
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:337`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/combined-slip-upload:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/combined-slip-upload
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:334`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/confirm-delivery:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/confirm-delivery
      description: |
        Source: `[B2B] Snippet 2: LINE Webhook Gateway & Order Creator:220`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/confirm-order:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/confirm-order
      description: |
        Source: `[B2B] Snippet 5: Admin Dashboard:206`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/create-shipment:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/create-shipment
      description: |
        Source: `[B2B] Snippet 2: LINE Webhook Gateway & Order Creator:215`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/daily-summary:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/daily-summary
      description: |
        Source: `[B2B] Snippet 5: Admin Dashboard:208`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/b2b/v1/debug-flash/{ticket_id}':
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/debug-flash/{ticket_id}
      description: |
        Source: `[B2B] Snippet 5: Admin Dashboard:220`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: ticket_id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/delete-ticket:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/delete-ticket
      description: |
        Source: `[B2B] Snippet 5: Admin Dashboard:210`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/discount-mapping:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/discount-mapping
      description: |
        Source: `[B2B] Snippet 6: Admin Discount Mapping:231`
        
        Permission: `admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
  /b2b/v1/distributor:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/distributor
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:113`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/distributor-info:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/distributor-info
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:237`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/distributor/delete:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/distributor/delete
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:114`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/distributor/toggle-bot:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/distributor/toggle-bot
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:115`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/distributors:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/distributors
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:112`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-api-test:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/flash-api-test
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:141`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-audit:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/flash-audit
      description: |
        Source: `[B2B] Snippet 1: Core Utilities & LINE Flex Builders:8082`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-cancel:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/flash-cancel
      description: |
        Source: `[B2B] Snippet 5: Admin Dashboard:216`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-cancel-notify:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/flash-cancel-notify
      description: |
        Source: `[B2B] Snippet 5: Admin Dashboard:217`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-cancel-pickup:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/flash-cancel-pickup
      description: |
        Source: `[B2B] Snippet 1: Core Utilities & LINE Flex Builders:8017`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-create:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/flash-create
      description: |
        Source: `[B2B] Snippet 5: Admin Dashboard:207`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-dashboard-stats:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/flash-dashboard-stats
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:352`
        
        Permission: `closure`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-dlq:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/flash-dlq
      description: |
        Source: `[B2B] Snippet 1: Core Utilities & LINE Flex Builders:8112`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-label:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/flash-label
      description: |
        Source: `[B2B] Snippet 5: Admin Dashboard:214`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-override-vehicle:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/flash-override-vehicle
      description: |
        Source: `[B2B] Snippet 1: Core Utilities & LINE Flex Builders:7940`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-ready-to-ship:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/flash-ready-to-ship
      description: |
        Source: `[B2B] Snippet 5: Admin Dashboard:215`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-ship-packed:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/flash-ship-packed
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:363`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-switch-manual:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/flash-switch-manual
      description: |
        Source: `[B2B] Snippet 5: Admin Dashboard:218`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-test/orders:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/flash-test/orders
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:143`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-test/run-step:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/flash-test/run-step
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:144`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-test/simulate-webhook:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/flash-test/simulate-webhook
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:145`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/b2b/v1/flash-tracking/{ticket_id}':
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/flash-tracking/{ticket_id}
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:345`
        
        Permission: `closure`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: ticket_id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/flash-webhook:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/flash-webhook
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:341`
        
        Permission: `public`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
  /b2b/v1/flash-webhook-setup:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/flash-webhook-setup
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:140`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/import-distributors:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/import-distributors
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:130`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/import-products:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/import-products
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:132`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice-gen:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/invoice-gen
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:254`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice-image:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/invoice-image
      description: |
        Source: `[B2B] Snippet 10: Invoice Image Generator:92`
        
        Permission: `admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
  /b2b/v1/invoice/cancel:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/cancel
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:935`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/create:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/create
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:887`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/delete:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/delete
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:941`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/distributor-detail:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/invoice/distributor-detail
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:976`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/get:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/invoice/get
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:875`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/init:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/init
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:881`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/issue:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/issue
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:899`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/list:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/invoice/list
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:869`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/pending-summary:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/invoice/pending-summary
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:965`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/record-payment:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/record-payment
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:905`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/record-refund:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/record-refund
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:929`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/resend-line:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/resend-line
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:959`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/send-overdue-notice:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/send-overdue-notice
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:953`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/send-reminder:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/send-reminder
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:948`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/send-summary:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/send-summary
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:970`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/update:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/update
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:893`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/upload-slip:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/upload-slip
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:923`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/verify-slip:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/verify-slip
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:911`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/invoice/verify-slip-combined:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/invoice/verify-slip-combined
      description: |
        Source: `[Admin System] DINOCO Manual Invoice System:917`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/manual-flash-cancel:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/manual-flash-cancel
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:373`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/manual-flash-create:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/manual-flash-create
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:367`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/manual-flash-label:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/manual-flash-label
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:380`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/manual-flash-ready:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/manual-flash-ready
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:376`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/manual-flash-status:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/manual-flash-status
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:383`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/manual-flash-test:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/manual-flash-test
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:386`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/manual-shipments:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/manual-shipments
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:370`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/order-detail:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/order-detail
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:247`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/order-history:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/order-history
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:244`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/place-order:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/place-order
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:234`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/b2b/v1/pno-lookup/{pno}':
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/pno-lookup/{pno}
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:307`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: pno
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/print-ack:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/print-ack
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:273`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/print-heartbeat:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/print-heartbeat
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:282`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/print-monitor:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/print-monitor
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:138`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/print-queue:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/print-queue
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:270`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/b2b/v1/print-requeue/{ticket_id}':
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/print-requeue/{ticket_id}
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:279`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: ticket_id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/print-settings:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/print-settings
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:134`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/print-settings
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:134`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/b2b/v1/print-status/{ticket_id}':
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/print-status/{ticket_id}
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:276`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: ticket_id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/print-test:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/print-test
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:285`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/product:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/product
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:118`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/product/delete:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/product/delete
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:119`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/products:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/products
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:117`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/recalculate-total:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/recalculate-total
      description: |
        Source: `[B2B] Snippet 5: Admin Dashboard:212`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/rpi-accept-order:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/rpi-accept-order
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:299`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/rpi-box-templates:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/rpi-box-templates
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:401`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/rpi-command:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/rpi-command
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:289`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/rpi-command-ack:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/rpi-command-ack
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:292`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/rpi-dashboard:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/rpi-dashboard
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:296`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/rpi-distributors:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/rpi-distributors
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:390`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/rpi-flash-box-packed:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/rpi-flash-box-packed
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:359`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/rpi-flash-ready:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/rpi-flash-ready
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:311`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/rpi-products:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/rpi-products
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:396`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/b2b/v1/rpi-sku-shipping/{sku}':
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/rpi-sku-shipping/{sku}
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:408`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: sku
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/settings:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/settings
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:126`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/settings
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:126`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/slip-upload:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/slip-upload
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:257`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/system-check:
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/system-check
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:120`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/test-push:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/test-push
      description: |
        Source: `[B2B] Snippet 9: Admin Control Panel:121`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/b2b/v1/ticket-lookup/{ticket_id}':
    get:
      tags:
        - b2b/v1
      summary: GET /b2b/v1/ticket-lookup/{ticket_id}
      description: |
        Source: `[B2B] Snippet 3: LIFF E-Catalog REST API:303`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: ticket_id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/update-status:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/update-status
      description: |
        Source: `[B2B] Snippet 5: Admin Dashboard:209`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2b/v1/verify-member:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/verify-member
      description: |
        Source: `[B2B] Snippet 1: Core Utilities & LINE Flex Builders:3148`
        
        Permission: `public`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
  /b2b/v1/webhook:
    post:
      tags:
        - b2b/v1
      summary: POST /b2b/v1/webhook
      description: |
        Source: `[B2B] Snippet 2: LINE Webhook Gateway & Order Creator:206`
        
        Permission: `public`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
  /b2f/v1/approve-reschedule:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/approve-reschedule
      description: |
        Source: `[B2F] Snippet 2: REST API:436`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/auth-admin:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/auth-admin
      description: |
        Source: `[B2F] Snippet 2: REST API:485`
        
        Permission: `public`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
  /b2f/v1/create-po:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/create-po
      description: |
        Source: `[B2F] Snippet 2: REST API:373`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/dashboard-stats:
    get:
      tags:
        - b2f/v1
      summary: GET /b2f/v1/dashboard-stats
      description: |
        Source: `[B2F] Snippet 2: REST API:473`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/maker:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/maker
      description: |
        Source: `[B2F] Snippet 2: REST API:336`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/maker-confirm:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/maker-confirm
      description: |
        Source: `[B2F] Snippet 2: REST API:409`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/maker-deliver:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/maker-deliver
      description: |
        Source: `[B2F] Snippet 2: REST API:429`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/maker-po-list:
    get:
      tags:
        - b2f/v1
      summary: GET /b2f/v1/maker-po-list
      description: |
        Source: `[B2F] Snippet 2: REST API:424`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/maker-product:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/maker-product
      description: |
        Source: `[B2F] Snippet 2: REST API:354`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/maker-product/delete:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/maker-product/delete
      description: |
        Source: `[B2F] Snippet 2: REST API:359`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/b2f/v1/maker-products/{maker_id}':
    get:
      tags:
        - b2f/v1
      summary: GET /b2f/v1/maker-products/{maker_id}
      description: |
        Source: `[B2F] Snippet 2: REST API:348`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: maker_id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/maker-reject:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/maker-reject
      description: |
        Source: `[B2F] Snippet 2: REST API:414`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/maker-reschedule:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/maker-reschedule
      description: |
        Source: `[B2F] Snippet 2: REST API:419`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/maker/delete:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/maker/delete
      description: |
        Source: `[B2F] Snippet 2: REST API:341`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/maker/toggle-bot:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/maker/toggle-bot
      description: |
        Source: `[B2F] Snippet 2: REST API:366`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/makers:
    get:
      tags:
        - b2f/v1
      summary: GET /b2f/v1/makers
      description: |
        Source: `[B2F] Snippet 2: REST API:331`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/po-cancel:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/po-cancel
      description: |
        Source: `[B2F] Snippet 2: REST API:394`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/po-complete:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/po-complete
      description: |
        Source: `[B2F] Snippet 2: REST API:466`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/po-detail/jwt:
    get:
      tags:
        - b2f/v1
      summary: GET /b2f/v1/po-detail/jwt
      description: |
        Source: `[B2F] Snippet 2: REST API:384`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/b2f/v1/po-detail/{po_id}':
    get:
      tags:
        - b2f/v1
      summary: GET /b2f/v1/po-detail/{po_id}
      description: |
        Source: `[B2F] Snippet 2: REST API:378`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: po_id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/po-history:
    get:
      tags:
        - b2f/v1
      summary: GET /b2f/v1/po-history
      description: |
        Source: `[B2F] Snippet 2: REST API:478`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/po-image:
    get:
      tags:
        - b2f/v1
      summary: GET /b2f/v1/po-image
      description: |
        Source: `[B2F] Snippet 10: PO Image Generator:36`
        
        Permission: `closure`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/po-undo-submit:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/po-undo-submit
      description: |
        Source: `[B2F] Snippet 2: REST API:402`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/po-update:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/po-update
      description: |
        Source: `[B2F] Snippet 2: REST API:389`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/receive-goods:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/receive-goods
      description: |
        Source: `[B2F] Snippet 2: REST API:441`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/record-payment:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/record-payment
      description: |
        Source: `[B2F] Snippet 2: REST API:446`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/reject-lot:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/reject-lot
      description: |
        Source: `[B2F] Snippet 2: REST API:453`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/reject-resolve:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/reject-resolve
      description: |
        Source: `[B2F] Snippet 2: REST API:459`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /b2f/v1/settings:
    post:
      tags:
        - b2f/v1
      summary: POST /b2f/v1/settings
      description: |
        Source: `[B2F] Snippet 5: Admin Dashboard Tabs:5905`
        
        Permission: `authenticated`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /brand-voice/v1/entries:
    post:
      tags:
        - brand-voice/v1
      summary: POST /brand-voice/v1/entries
      description: |
        Source: `[Admin System] DINOCO Brand Voice Pool:566`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /brand-voice/v1/entries/ai-bulk:
    post:
      tags:
        - brand-voice/v1
      summary: POST /brand-voice/v1/entries/ai-bulk
      description: |
        Source: `[Admin System] DINOCO Brand Voice Pool:728`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /brand-voice/v1/entries/batch:
    post:
      tags:
        - brand-voice/v1
      summary: POST /brand-voice/v1/entries/batch
      description: |
        Source: `[Admin System] DINOCO Brand Voice Pool:629`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /brand-voice/v1/meta:
    get:
      tags:
        - brand-voice/v1
      summary: GET /brand-voice/v1/meta
      description: |
        Source: `[Admin System] DINOCO Brand Voice Pool:714`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-b2f-audit/v1/activate-schema:
    post:
      tags:
        - dinoco-b2f-audit/v1
      summary: POST /dinoco-b2f-audit/v1/activate-schema
      description: |
        Source: `[Admin System] B2F Migration Audit:2472`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-b2f-audit/v1/backfill:
    post:
      tags:
        - dinoco-b2f-audit/v1
      summary: POST /dinoco-b2f-audit/v1/backfill
      description: |
        Source: `[Admin System] B2F Migration Audit:2554`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-b2f-audit/v1/backfill-status:
    get:
      tags:
        - dinoco-b2f-audit/v1
      summary: GET /dinoco-b2f-audit/v1/backfill-status
      description: |
        Source: `[Admin System] B2F Migration Audit:2634`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-b2f-audit/v1/drift:
    get:
      tags:
        - dinoco-b2f-audit/v1
      summary: GET /dinoco-b2f-audit/v1/drift
      description: |
        Source: `[Admin System] B2F Migration Audit:2090`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-b2f-audit/v1/dry-run:
    get:
      tags:
        - dinoco-b2f-audit/v1
      summary: GET /dinoco-b2f-audit/v1/dry-run
      description: |
        Source: `[Admin System] B2F Migration Audit:2182`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-b2f-audit/v1/feature-flags:
    get:
      tags:
        - dinoco-b2f-audit/v1
      summary: GET /dinoco-b2f-audit/v1/feature-flags
      description: |
        Source: `[Admin System] B2F Migration Audit:2224`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
    post:
      tags:
        - dinoco-b2f-audit/v1
      summary: POST /dinoco-b2f-audit/v1/feature-flags
      description: |
        Source: `[Admin System] B2F Migration Audit:2224`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-b2f-audit/v1/feature-flags/toggle:
    post:
      tags:
        - dinoco-b2f-audit/v1
      summary: POST /dinoco-b2f-audit/v1/feature-flags/toggle
      description: |
        Source: `[Admin System] B2F Migration Audit:2277`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-b2f-audit/v1/junction-snapshot:
    get:
      tags:
        - dinoco-b2f-audit/v1
      summary: GET /dinoco-b2f-audit/v1/junction-snapshot
      description: |
        Source: `[Admin System] B2F Migration Audit:2659`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/dinoco-b2f-audit/v1/maker-products-with-source/{maker_id}':
    get:
      tags:
        - dinoco-b2f-audit/v1
      summary: GET /dinoco-b2f-audit/v1/maker-products-with-source/{maker_id}
      description: |
        Source: `[Admin System] B2F Migration Audit:2814`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: maker_id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-b2f-audit/v1/observations:
    get:
      tags:
        - dinoco-b2f-audit/v1
      summary: GET /dinoco-b2f-audit/v1/observations
      description: |
        Source: `[Admin System] B2F Migration Audit:2740`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/dinoco-b2f-audit/v1/parity/{maker_id}':
    get:
      tags:
        - dinoco-b2f-audit/v1
      summary: GET /dinoco-b2f-audit/v1/parity/{maker_id}
      description: |
        Source: `[Admin System] B2F Migration Audit:2160`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: maker_id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-b2f-audit/v1/stale:
    get:
      tags:
        - dinoco-b2f-audit/v1
      summary: GET /dinoco-b2f-audit/v1/stale
      description: |
        Source: `[Admin System] B2F Migration Audit:2131`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-claim/v1/bank-settings:
    get:
      tags:
        - dinoco-claim/v1
      summary: GET /dinoco-claim/v1/bank-settings
      description: |
        Source: `[Admin System] DINOCO Service Center & Claims:7290`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
    post:
      tags:
        - dinoco-claim/v1
      summary: POST /dinoco-claim/v1/bank-settings
      description: |
        Source: `[Admin System] DINOCO Service Center & Claims:7296`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-claim/v1/bank-settings/test:
    post:
      tags:
        - dinoco-claim/v1
      summary: POST /dinoco-claim/v1/bank-settings/test
      description: |
        Source: `[Admin System] DINOCO Service Center & Claims:7302`
        
        Permission: `unknown`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/dinoco-claim/v1/charge/{id}/cancel':
    post:
      tags:
        - dinoco-claim/v1
      summary: POST /dinoco-claim/v1/charge/{id}/cancel
      description: |
        Source: `[System] DINOCO Claim Payment LIFF:622`
        
        Permission: `callback:dinoco_claim_payment_perm_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/dinoco-claim/v1/charge/{id}/refund':
    post:
      tags:
        - dinoco-claim/v1
      summary: POST /dinoco-claim/v1/charge/{id}/refund
      description: |
        Source: `[System] DINOCO Claim Payment LIFF:606`
        
        Permission: `callback:dinoco_claim_payment_perm_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/dinoco-claim/v1/charge/{id}/reject':
    post:
      tags:
        - dinoco-claim/v1
      summary: POST /dinoco-claim/v1/charge/{id}/reject
      description: |
        Source: `[System] DINOCO Claim Payment LIFF:599`
        
        Permission: `callback:dinoco_claim_payment_perm_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/dinoco-claim/v1/charge/{id}/upload-slip':
    post:
      tags:
        - dinoco-claim/v1
      summary: POST /dinoco-claim/v1/charge/{id}/upload-slip
      description: |
        Source: `[System] DINOCO Claim Payment LIFF:585`
        
        Permission: `callback:dinoco_claim_payment_perm_customer`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/dinoco-claim/v1/charge/{id}/verify':
    post:
      tags:
        - dinoco-claim/v1
      summary: POST /dinoco-claim/v1/charge/{id}/verify
      description: |
        Source: `[System] DINOCO Claim Payment LIFF:592`
        
        Permission: `callback:dinoco_claim_payment_perm_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-claim/v1/charges:
    get:
      tags:
        - dinoco-claim/v1
      summary: GET /dinoco-claim/v1/charges
      description: |
        Source: `[System] DINOCO Claim Payment LIFF:644`
        
        Permission: `callback:dinoco_claim_payment_perm_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
    post:
      tags:
        - dinoco-claim/v1
      summary: POST /dinoco-claim/v1/charges
      description: |
        Source: `[System] DINOCO Claim Payment LIFF:644`
        
        Permission: `callback:dinoco_claim_payment_perm_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-claim/v1/charges/export:
    get:
      tags:
        - dinoco-claim/v1
      summary: GET /dinoco-claim/v1/charges/export
      description: |
        Source: `[Admin System] DINOCO Claim Charges Schema:832`
        
        Permission: `closure`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/dinoco-claim/v1/charges/{id}':
    get:
      tags:
        - dinoco-claim/v1
      summary: GET /dinoco-claim/v1/charges/{id}
      description: |
        Source: `[System] DINOCO Claim Payment LIFF:674`
        
        Permission: `authenticated`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/dinoco-claim/v1/charges/{id}/approve-refund':
    post:
      tags:
        - dinoco-claim/v1
      summary: POST /dinoco-claim/v1/charges/{id}/approve-refund
      description: |
        Source: `[System] DINOCO Claim Payment LIFF:633`
        
        Permission: `callback:dinoco_claim_payment_perm_admin`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/dinoco-claim/v1/charges/{id}/slip-image':
    get:
      tags:
        - dinoco-claim/v1
      summary: GET /dinoco-claim/v1/charges/{id}/slip-image
      description: |
        Source: `[System] DINOCO Claim Payment LIFF:686`
        
        Permission: `authenticated`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: id
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/dinoco-claim/v1/flash-cancel/{pno}':
    post:
      tags:
        - dinoco-claim/v1
      summary: POST /dinoco-claim/v1/flash-cancel/{pno}
      description: |
        Source: `[Admin System] DINOCO Claim Flash Dispatcher:621`
        
        Permission: `callback:dinoco_claim_flash_admin_perm`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: pno
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-claim/v1/flash-create:
    post:
      tags:
        - dinoco-claim/v1
      summary: POST /dinoco-claim/v1/flash-create
      description: |
        Source: `[Admin System] DINOCO Claim Flash Dispatcher:616`
        
        Permission: `callback:dinoco_claim_flash_admin_perm`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  '/dinoco-claim/v1/flash-status/{pno}':
    get:
      tags:
        - dinoco-claim/v1
      summary: GET /dinoco-claim/v1/flash-status/{pno}
      description: |
        Source: `[Admin System] DINOCO Claim Flash Dispatcher:629`
        
        Permission: `callback:dinoco_claim_flash_read_perm`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      parameters:
        - name: pno
          in: path
          required: '1'
          schema:
          type: string
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-claim/v1/flash/list:
    get:
      tags:
        - dinoco-claim/v1
      summary: GET /dinoco-claim/v1/flash/list
      description: |
        Source: `[Admin System] DINOCO Claim Flash Dispatcher:640`
        
        Permission: `callback:dinoco_claim_flash_admin_perm`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
  /dinoco-claim/v1/my-charges:
    get:
      tags:
        - dinoco-claim/v1
      summary: GET /dinoco-claim/v1/my-charges
      description: |
        Source: `[System] DINOCO Claim Payment LIFF:704`
        
        Permission: `authenticated`
      responses:
        200:
          description: Success
        4XX:
          description: Client error (WP_Error envelope)
        5XX:
          description: Server error
      security:
        - wpNonce: []
        - liffAiBearer: []
        - b2fAdminToken: []
[...]
